*{
    margin: auto;
}
h1{
    color: white;
    text-align: center;
    margin: .25em;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Kaushan Script', cursive;
    font-size: 100px;
    background-color: white;
    background-image: url("https://t3.ftcdn.net/jpg/05/11/25/36/240_F_511253627_zuzpapnIVQueMx4eSL1ilAoH61OBgj0C.jpg");
    border: 4px solid white;
    box-shadow: 0 5px 5px thistle;
    border-radius: 10px;
}
h4{
    font-size: 20px;
}
body{
    background-color:rgb(234, 189, 105);
    background-repeat: no-repeat;
    background-size: cover;
}
p{
    padding-bottom: 2em;
    font-size: 2em;
}
#easy{
    color:rgb(185, 161, 130);
    height: 40px;
    width: 30%;
    margin-right: 10px;
    border: 4px solid white;
}
#easy:hover{
    width: 100%;
    background-image: url("https://t4.ftcdn.net/jpg/03/51/50/89/360_F_351508999_67wHC4cpdrYwh7LvR848R13xTZITW2OT.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color:  aqua;
    font-size: 22px;
    font-family: 'Kaushan Script', cursive;
}
#hard{
    color:rgb(185, 161, 130);
    height: 40px;
    width: 30%;
    margin-left: 10px;
    border: 4px solid white;
}
#hard:hover{
    width: 100%;
    background-image: url("https://t4.ftcdn.net/jpg/03/51/50/89/360_F_351508999_67wHC4cpdrYwh7LvR848R13xTZITW2OT.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color:  magenta;
    font-size: 22px;
    font-family: 'Kaushan Script', cursive;
}
#levelBtns {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
}
#timer{
    height:40px;
    width: 400px;
    font-family: 'Martian Mono', monospace;
    text-align: center;
    color: rgb(78, 77, 77);
    border: 4px solid rgb(234, 189, 105);
    border-radius: 10px;
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: white;
    box-shadow: inset 3px 3px 6px grey;
    
}
.card {
    height: 110px;
    width: 110px;
    border: 4px solid rgb(198, 169, 198);
    border-radius: 5px;
    background-color: thistle;
    color:rgb(185, 161, 130);
    text-align: center;
    box-shadow: 0 5px 10px rgb(141, 100, 141);
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.card:hover{
    box-shadow: 0 5px 10px white;
    transform: translateX(-2px)
}

.grid-container{
    margin:30px;
    margin-top: 2em;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 15px;
    padding: 1em;
}
#imageToDisplay{
    height: 50px;
    width: 50px
}
.reset{
    padding: 15px 60px;
    display: flex;
    align-items: center;
    background-color: white;
    color: rgb(234, 189, 105);
    border: none;
    margin-bottom: 2em;
    cursor: pointer;
    box-shadow: 2px 2px 3px grey;
}
.reset:focus{
    color: white;
    background: rgb(234, 189, 105);
    box-shadow: inset 3px 3px 6px darkgoldenrod;
}
.playAgain{
    padding: 15px 60px;
    display: flex;
    align-items: center;
    background-color: white;
    color: rgb(234, 189, 105);
    border: none;
    margin-bottom: 2em;
    cursor: pointer;
    box-shadow: 2px 2px 3px grey;
    background-color: #ffffffd5;
    border-radius: 10px;
}
.playAgain:focus{
    color: white;
    background: rgb(234, 189, 105);
    box-shadow: inset 3px 3px 6px darkgoldenrod;
}
.dadJoke{
    display:flow-root;
    justify-self: center;
    padding: 15px 5px;
    color: rgb(247, 205, 127);
    margin-bottom: 1em;
    cursor: pointer;
    box-shadow: 0px 8px 12px #510e5b;
    background-color: #801f8fcb;
    border: 4px solid #801f8fcb;
    width: 60%
}
.dadJoke h5{
text-decoration: underline;
font-size: 25px;
display: flexbox;
}
.dadJoke p{
    font-size: 20px;
    display: flex;
    text-align: left;
    }

.data{
    padding-bottom: 2em;
    display: flex;
    align-items: center;
    color: white;
}
.popup{
    background: rgba(172, 56, 218, 0.623);
    width: 420px;
    padding: 90px 40px;
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    font-family: sans-serif;
    text-align: center;
    z-index: 9999;
    display: none;
}
#winningPopup{
    background-image: url("https://media.tenor.com/jHLmMpzuA84AAAAj/nemzeti%C3%BCnnep-explode.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    color: white;
    height: 350px;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
#losingPopup{
    background-color: rgba(68, 0, 255, 0.725);
    color: white;
}
#losingImage{
    display: flex;
    justify-self: center;
    height: 200px;
    width: 200px;
    margin-bottom:1em;
    border: 2px solid white;
    border-radius:100%;
    animation: fadeInAnimation ease 15s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (min-width:1023px) {
    h1{
        font-size: 70px;
    }
    #timer{
        margin-bottom: 10px;
        margin-top: 10px;
    }
}
@media (max-width: 1023px) {
    h1{
        font-size: 110px;
        margin-bottom: 30px;
    }
    #timer{
        margin-bottom: .5px;
        margin-top: .5em;
    }
    .grid-container{
        margin-top: 0px;
    }
    }
@media (max-width: 800px) {
.grid-container{ grid-template-columns: auto auto auto auto;}
h1{
    font-size: 60px;
    margin-bottom: 20px;
}
#timer{
    margin-bottom: .5em;
    margin-top: .5em;
}
}
@media (max-width: 540px) {
    .grid-container{ grid-template-columns: auto auto auto auto;}
    .card{
        height: 85px;
        width: 85px;
    }
    h1{
        font-size: 45px;
        margin-bottom: 20px;
    }
    #timer{
        margin-bottom: .5em;
        margin-top: .5em;
    }
    }
    @media (max-width: 414px) {
        .grid-container{ grid-template-columns: auto auto auto auto;}
        .card{
            height: 70px;
            width: 70px;
        }
        h1{
            font-size: 45px;
            margin-bottom: 20px;
        }
        #timer{
            margin-bottom: .5em;
            margin-top: .5em;
        }
        }